.wrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-around;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    letter-spacing: 0.03em;
    text-align: left;
    padding: 15px;
    box-shadow: 0px 0px 20px 0px #00000033;
}

.firstcolomn {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    padding-right: 15px;
}

.secondcolomn {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}

.wrapper input,
.wrapper select {
    height: 43px;
    width: 246px;
    padding-left: 25px;
}

.wrapper input::placeholder {
    opacity: 0.5;
    color: black;
}

.wrapper select {
    color: black;
    text-align: start;
    padding-left: 25px;
}

.wrapper input[type='checkbox'] {
    display: inline;
    height: 18px;
    width: 18px;
}

.wrapper input[type='date'] {
    padding-right: 25px;
    text-align: end;
}

.secondcolomn span {
    padding-left: 5px;
}

.date {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.date input {
    width: 176px;
}


@media screen and (width<750px) {

    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .secondcolomn>div {
        display: none;

    }

    .secondcolomn {
        width: 100%;
    }

    .date {
        flex-direction: column;
    }

    .wrapper input,
    .wrapper select {
        width: 100%;
    }

    .secondcolomn>button {
        margin: 25px auto;
    }

    .firstcolomn {
        padding-right: 0px;
    }
}

@media screen and (width<900px) and (width>=750px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
        gap: 25px
    }

}

.error {
    color: #FF5959;
    font-size: 14px;
}

.errorinput {
    border: 1px solid #FF5959;
    outline-color: #FF5959;
    box-shadow: 0px 0px 20px 0px #ffcfcf;
}

.errorinput:focus {
    border: 1px solid #FF5959;
}



input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked+label,
input[type="checkbox"]:not(:checked)+label {
    display: inline-block;
    position: relative;
    padding-left: 40px;
    line-height: 22px;
    cursor: pointer;
}

input[type="checkbox"]:checked+label:before,
input[type="checkbox"]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    background-color: #ffffff;
}

input[type="checkbox"]:checked+label:after,
input[type="checkbox"]:not(:checked)+label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked+label:after,
input[type="checkbox"]:not(:checked)+label:after {
    left: 4px;
    top: 5px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid green;
    border-bottom: 4px solid green;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
}

input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

input[type="checkbox"]:not(:checked)+label {
    opacity: 0.5;
}