.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto
}

.wrapper>h1 {
    margin: 25px 60px;
    grid-row: 1;
    grid-column: 1;
    font-family: Ferry;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-align: left;
}

.img {
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
}

.wrapper>img {
    width: 320px;
}

.form {
    max-width: 400px;
    margin-top: 25px;
    margin-right: 140px;
    grid-row: 1 / span 2;
    grid-column: 2;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #00000026;
}

@media screen and (width<1000px) {
    .wrapper>h1 {
        font-size: 22px;
        line-height: 26px;
    }
}

@media screen and (width<750px) {
    .wrapper {
        grid-template-columns: 1fr;
    }

    .wrapper>h1 {
        margin: 25px 30px;
        grid-row: 1;
        grid-column: 1;
        justify-self: center;
    }

    .form {
        grid-row: 2;
        grid-column: 1;
        margin: 25px auto;
    }

    .img {
        grid-row: 3;
        grid-column: 1;
    }
}